# Unreal Engine Build
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Unreal Content (optional: spezifischere Pfade je nach Projektstruktur)
Content/Fab/
Content/Raccoon/
Content/Scene_Junkyard/
Content/Mediterranean_Coast/


# Editor-bezogene Dateien
.vscode/
.idea/
.vs/

# Projektdateien und Build-Systeme
*.suo
*.user
*.userosscache
*.sln
*.sln.docstates
*.VC.db
*.opensdf
*.opendb
*.sdf
*.xcworkspace
*.xcodeproj

# Systemdateien
*.log
*.pdb
*.exe
*.dll
*.app
*.dSYM
*.apk

# Large binary assets (falls nötig)
*.mp4
*.psd
*.zip
*.rar
